@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&display=swap');

*{
  box-sizing: border-box;
}

body {
  background-image: url(./image/bg.jpg);
  background-repeat:no-repeat ;
  background-size: cover;
  background-position: center center;
  height: 100vh;
  color: #fff;
  font-family: 'Dancing Script', cursive , sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  overflow: hidden;
}
body::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
}
body *{
  z-index: 1;
}
h1 {
  font-size: 60px;
  margin:  -80px 0 40px;
}

.year {
  position: absolute;
  bottom: 200px;
  font-size: 8rem;
  opacity: 0.5;
}
.year:hover {
  opacity: 1;
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.countdown{
  display: flex;
  transform: scale(2);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 15px;
}

.time h2 {
  margin: 0 0 5px
}


@media(max-width: 500px){
  h1{
    font-size: 45px;
  }
  .time {
    margin: 5px;
  }
  .time h2 {
    font-size: 12px;
    margin: 0ch;
  }


  .time small {
    font-size: 10px;
  }
}